body {
    padding: 0;
    margin: 0;

}


.offers {
    padding: 0 120px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    color: #666666;
}

.about_orders>img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.openList {
    background-color: #F3F9FB;
    padding: 16px 12px;
    border-radius: 10px;
}

.for-search {
    padding: 21px 120px;
}

#MegaMart {
    color: #008ECC;
    font-size: 28px;
    text-decoration: none;
    margin-left: 16px;
}

.about_orders {
    display: flex;
    align-items: center;
}

.about_orders>p {
    margin-right: 32px;
}

.interaction {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;

}

.nav-right {
    align-items: center;
    display: flex;
}

#SearchText {
    height: 48px;
    width: 507px;
    background-color: #F3F9FB;
    margin-right: 30px;
    border: none;
    padding: 0 44px;

}

#List {
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#Search-Icon {
    right: 95%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.Search-inp {
    position: relative;
}

.User-ActionsWrap {
    display: flex;
    gap: 20px;
}

.User-Actions {
    display: flex;
    align-items: center;
}



.categories {
    display: flex;
    padding: 16px 120px;
    gap: 14px;
    border: 1px solid #EDEDED;

}

.category-button {
    background-color: #F3F9FB;
    display: flex;
    align-items: center;
    padding: 9px 14px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, filter;
}

.category-button:hover {
    background-color: #008ECC;
    color: white;
}

div img {
    filter: brightness(1) invert(0);
    transition: filter 0.3s ease;
}

.category-button:hover>img {
    filter: brightness(0) invert(1);
}

.Best-deal {
    margin-top: 15px;
    position: relative;
    background-color: #212844;
    min-height: 200px;
    padding: 45px 86px;
    overflow: hidden;
    border-radius: 10px;
}

.For-Dots {
    display: flex;
    gap: 7px;
}

.Dots:first-of-type {
    width: 25px;
    border-radius: 10px;
}

.Dots {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;

}

#Circle-Bottom {
    position: absolute;
    bottom: 0;
    right: 15%;

}

#Circle-Top {
    position: absolute;
    top: 0;
    right: 0;

}


.Section-Text {
    font-size: 1.5rem;
}

.Section-Alignment {
    display: flex;
}

#Smart-Watch {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.Best-deal>p {
    color: white;
    line-height: 20px;
}

.Best-deal>p:first-of-type {
    font-size: 2rem;
}

.Best-deal>p:nth-of-type(2) {
    font-size: 3rem;
}

.Best-deal>p:last-of-type {
    font-size: 2rem;
}

.Best-Deal-Wrap {
    position: relative;
}

.Arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    background-color: #F3F9FB;
    border: 6px solid white;
    width: 86px;
    height: 86px;
    border-radius: 100%;
}

.Arrow-Left {
    left: 0;
    transform: translate(-50%, -50%);
}

.Arrow-Right {
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;
}

.Deal-Phones {
    display: flex;
    justify-content: space-between;
}



.Category-Sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.Category-Sections>p {
    font-size: 1.5rem;
    border-bottom: 3px solid #008ECC;
    padding-bottom: 17px;
    color: #666666;
}


.Discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #008ECC;
    border-radius: 12px 0 12px 0;
    width: 51px;
    height: 53px;
    position: absolute;
    right: 0;
    top: 0;

}

.Discount>p {
    margin: 0;
}

.Save {
    padding-top: 10px;
    border-top: 1px solid #EDEDED;
    color: #249B3E;
    font-weight: bold;
}

.Old-Price {
    margin-left: 10px;
    text-decoration: line-through;
}

.Phone {
    border: 1px solid #EDEDED;
    border-radius: 0 0 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}


.Phone-Price {
    background-color: white;
    padding: 0 0 11px 22px
}

.View-All {
    display: flex;
    align-items: center;
}

.Phone-Image>img {
    height: 170px;
}

.Phone-Image {
    position: relative;
    background-color: #EDEDED;
    padding: 15px 72px;
}

.Category-Items {
    width: 160px;
    height: 160px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Cream {
    width: 90%;
    height: 90%;
}

#Sofa {
    width: 90%;
    height: 90%;
}

#Plant {
    width: 90%;
    height: 90%;
}

#Necklace {
    width: 90%;
    height: 90%;
}

.Category-Items img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.Categories-Item {
    display: flex;
    justify-content: space-between;

}

.Categoires-Alignment {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.Blue-text {
    color: #008ECC;
}


.Top-Brands {
    position: absolute;
    right: 0;
    top: 10%;
}

.Circles {
    position: absolute;
    right: 0;
    top: 0;
}

.Phone-Models {
    display: flex;
    gap: 16px;
}



.PhoneModels-Space {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
    color: #222222;
}

.PhoneModels-Space>p {
    font-size: 30px;
    margin: 0;
}



.Iphone {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #313131;
    width: 33%;
    height: 207px;
    padding: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.Iphone>div>p {
    color: white;
}

.Realme {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #FFF3CC;
    width: 33%;
    height: 207px;
    padding: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}


.Xiaomi {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #FFECDF;
    width: 33%;
    height: 207px;
    padding: 20px 20px;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.Iphone-Model {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #494949;
    min-width: 120px;
    border-radius: 10%;

}

.Realme-Model {
    display: flex;
    justify-content: center;
    color: #222222;
    background-color: #F6DE8D;
    min-width: 120px;
    border-radius: 10%;
}

.Xiaomi-Model {
    display: flex;
    justify-content: center;
    color: #222222;
    min-width: 120px;
    background-color: #FFD1B0;
    border-radius: 10px;
}

.forDots_2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.Dots_2:first-of-type {
    background-color: #008ECC;
    width: 28px;
    border-radius: 10px;
}

.Dots_2 {
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.essentials {
    background-color: #F5F5F5;
    width: 187px;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Essentials-Container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.Essentials-Alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer {
    position: relative;
    background-color: #008ECC;
    color: white;
    padding-top: 80px;
    padding-bottom: 30px;

}

#Blue-Circle {
    position: absolute;
    top: 0%;
    right: 0;

}

.container {
    padding: 0 120px;
}

.more-about-site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.Socials>p:first-of-type {
    font-size: 44px;
    margin: 0;
}

.Socials>p:nth-of-type(2) {
    font-size: 22px;
}

.contact>p:first-of-type {
    font-size: 20px;

}

.WhatsApp {
    margin-bottom: 30px;
}



.about-site {
    margin-top: 36px;
}

.about-site>li {
    margin-top: 15px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact>p {
    margin: 0;
}

.text-bold {
    font-weight: bold;
}

#Download-App {
    margin-top: 30px;
    font-size: 20px;
}

.text-category {
    font-weight: bold;
    border-bottom: 3px solid white;
    border-radius: 3px;
    padding-bottom: 16px;
    font-size: 20px;
    margin: 0;
}


#authors-rights {
    border-top: 1px solid #05ABF3;
    margin-top: 133px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#authors-rights p {
    font-size: 20px;
}